@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedContentModels.Home>
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@
<body>



    @Html.GetGridHtml(Model, "navigationPage")
    <header>
        <div class="section-image">
            <div class="text-image">
                <h1>@Model.Title </h1>
            </div>
        </div>
    </header>
    <hr class="solid">

    <div class="section-lorem">
        <h2 class="full-text">@Model.PageTitle </h2>

        <h2 class="short-text"> @Model.TitleMobileMode</h2>
    </div>
    

        <div class="container-paragraph">
            @Model.MainContent
        </div>
   
    <div class="text-title">
        <h2 id="texto"></h2>
    </div>


    @Html.GetGridHtml(Model, "contentGrid")
    @Html.GetGridHtml(Model, "spotlightsCard")



    <style>
        #site-logo {
            position: absolute;
            left: 20px;
            height: 50px;
            top: 20px;
            transition: all .3s;
        }

        /* Navbar links */
        #navbar a {
            float: right;
            color: #014a8e;
            text-align: center;
            text-decoration: none;
        }

        navbar ul {
        }

        ul {
            margin-top: 20px;
            margin-bottom: 0px;
            position: fixed;
        }

        #primary-menu ul a {
            display: block;
            padding: 0 10px;
        }

        #primary-menu {
            overflow-y: hidden;
            clear: both;
            float: left;
            font: 16px Soleto;
            margin-left: 200px;
            text-transform: uppercase;
            zoom: 1;
            /* position: absolute; */
        }

            #primary-menu li {
                display: inline-block;
                list-style: none;
            }

        .header-container {
            padding-left: 0px!important;
            padding-right: 0px!important;
            margin-right: auto;
            margin-left: auto;
        }

        /* Style the navbar */
        #navbar {
            background-color: #fff;
            height: 100px;
            position: fixed;
            width: 100%;
            z-index: 1000;
            transition: height .3s;
            left: 0px;
        }
        /* Page content */
        .content {
            padding: 16px;
        }

        /* The sticky class is added to the navbar with JS when it reaches its scroll position */
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }

            /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
            .sticky + .content {
                padding-top: 60px;
            }
    </style>
    <style>
    * body {
    margin: 0px;
    padding: 0%;
    font-family: open, sans-serif, arial !important;
    line-height: 1.42857143;
    }

        .header-image {
            padding-top: 120px;
            padding-bottom: 80px;
            margin-bottom: 50px;
        }

    .header-image .img {
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 110px;
    text-align: center;
    color: #fff;
    height: 400px;
    }
        .container-header {
            padding-left: 30px;
            padding-right: 30px;
            color: #fff !important;
        }


    strong {
    font-weight: 700;
    }

    .header-image h1 {
    display: inline-block;
    font-size: 24px;
    line-height: 30px;
    padding: 5px 8px;
    position: relative;
    }

    .header-image h1:after {
    background: #e36f1e;
    bottom: 0;
    left: 0;
    content: "";
    height: 4px;
    position: absolute;
    width: 100%;
    }

        #center-text  {
            line-height: 72px!important;
            margin: 20px 20px 20px 20px;
            font-size: 60px!important;
            color: #fff!important;
            text-align:center;
        }

        .below-text {
            margin-bottom: 30px!important;
            line-height: 28px!important;
            font-size: 18px!important;
            font-weight: 500;
            color: #fff!important;
        }

    sub {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    }

    .contact-link {
    border: 1px solid #e36f1e;
    border-radius: 22px;
    padding: 8px 20px;
    background: #e36f1e;
    color: #fff;
    text-decoration: none;
    font-family: Soleto,"Helvetica Neue","Helvetica Medium",Helvetica,Arial,sans-serif !important;
    font-size: 16px !important;
    line-height: 1.75 !important;
    width: 20%;
    display: inline-block;
    }

    .buttom {
    margin: 0 0 10px;
    }

    .inner {
    margin-left: auto;
    margin-right: auto;
    }

    @@media screen and (max-width: 800px) {
    .container {
    padding: 0px;
    }

    #center-text {
    font-size: 18px !important;
    line-height: 24px !important;
    }

    .inner {
    padding-left: 4px !important;
    padding-right: 4px !important;
    width: 93% !important;
    }
    }

    @@media screen and (max-width: 640px) {
    .contact-link {
    width: 80%;
    }
    }
    </style>




