@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedContentModels.Home>
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@


<body>

    <header>
        <div class="section-image">
            <div class="text-image">
                <h1>@Model.Title </h1>
            </div>
        </div>
    </header>
    <hr class="solid">

    <div class="section-lorem">
        <h2 class="full-text">@Model.PageTitle </h2>

        <h2 class="short-text"> @Model.TitleMobileMode</h2>
    </div>
    <div class="container">

        <p>
            @Model.MainContent
        </p>
    </div>
    <div class="text-title">
        <h2 id="texto"></h2>
    </div>
    @Html.GetGridHtml(Model, "contentGrid")
    @Html.GetGridHtml(Model, "spotlightsCard")

    


</body>

    </html>

