@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{

    string title = @Model.MacroParameters["Title"] != null ? @Model.MacroParameters["Title"].ToString() : "";
    string titleArticle = @Model.MacroParameters["TitleArticle"] != null ? @Model.MacroParameters["TitleArticle"].ToString() : "";
    string description = @Model.MacroParameters["Description"] != null ? @Model.MacroParameters["Description"].ToString() : "";
    string titleArticle2 = @Model.MacroParameters["TitleArticle2"] != null ? @Model.MacroParameters["TitleArticle2"].ToString() : "";
    string description2 = @Model.MacroParameters["Description2"] != null ? @Model.MacroParameters["Description2"].ToString() : "";
    string titleArticle3 = @Model.MacroParameters["TitleArticle3"] != null ? @Model.MacroParameters["TitleArticle"].ToString() : "";
    string description3 = @Model.MacroParameters["Description3"] != null ? @Model.MacroParameters["Description"].ToString() : "";
    string titleArticle4 = @Model.MacroParameters["TitleArticle4"] != null ? @Model.MacroParameters["TitleArticle4"].ToString() : "";
    string description4 = @Model.MacroParameters["Description4"] != null ? @Model.MacroParameters["Description4"].ToString() : "";

}
<body>
    <div class="container6">
        <div class="title6">
            <h2 id="texto6"> @title</h2>
        </div>

        <div class="cards6">
            <div class="column">
                <div class="item6">
                    <div class="card-img6" style="background-image: url('@Umbraco.TypedMedia(Model.MacroParameters["Card"].ToString()).Url()');
                         alt="Virtual Work Enviroment">
                        <div class="card_info6">
                            <article>
                                <h3 class="line6"> @titleArticle </h3>
                                <h2 class="teaser6">@Html.Raw(HttpUtility.HtmlDecode(description))</h2>
                                <a href="#" class="link_learn6">Learn more</a>
                            </article>
                        </div>
                    </div>
                </div>

                <div class="item6">
                    <div class="card-img6" style="background-image: url('@Umbraco.TypedMedia(Model.MacroParameters["Card2"].ToString()).Url()');
                         alt="Virtual Work Enviroment">
                        <div class="card_info6">
                            <article>
                                <h3 class="line6"> @titleArticle2</h3>
                                <h2 class="teaser6">@Html.Raw(HttpUtility.HtmlDecode(description2))</h2>
                                <a href="#" class="link_learn6">Learn more</a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="item6">
                    <div class="card-img6" style="background-image: url('@Umbraco.TypedMedia(Model.MacroParameters["Card3"].ToString()).Url()');
                         alt="Virtual Work Enviroment">
                        <div class="card_info6">
                            <article role="article">
                                <h3 class="line6"> @titleArticle3</h3>
                                <h2 class="teaser6"> @Html.Raw(HttpUtility.HtmlDecode(description3))</h2>
                                <a href="#" class="link_learn6">Learn more</a>
                            </article>
                        </div>
                    </div>
                </div>

                <div class="item6">
                    <div class="card-img6" style="background-image: url('@Umbraco.TypedMedia(Model.MacroParameters["Card4"].ToString()).Url()');
                         alt="Virtual Work Enviroment">
                        <div class="card_info6">
                            <article>
                                <h3 class="line6"> @titleArticle4</h3>
                                <h2 class="teaser6">@Html.Raw(HttpUtility.HtmlDecode(description4))</h2>
                                <a href="#" id="client" class="link_learn6">Client</a>
                                <a href="#" id="candidate" class="link_learn6">Candidate</a>
                                <a href="#" id="vendors" class="link_learn6">Vendors</a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

