@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{

    string titleHeader = @Model.MacroParameters["TitleHeader"] != null ? @Model.MacroParameters["TitleHeader"].ToString() : "";
    string centerText = (!String.IsNullOrEmpty(@Model.MacroParameters["CenterText"].ToString())) ? HttpUtility.HtmlDecode(@Model.MacroParameters["CenterText"].ToString()) : null;
    string belowText = (!String.IsNullOrEmpty(@Model.MacroParameters["BelowText"].ToString())) ? HttpUtility.HtmlDecode(@Model.MacroParameters["BelowText"].ToString()) : null;
    string buttonName = @Model.MacroParameters["ButtonName"] != null ? @Model.MacroParameters["ButtonName"].ToString() : "";
}


<body>
    <div class="header-image">
        <div class="img" style="background-image: url('@Umbraco.TypedMedia(Model.MacroParameters["HeaderImage"].ToString()).Url()');
             alt="Covid Resources">
            <div class="container">
                <div class="in">
                    <h1 id="texto"><strong> @titleHeader </strong></h1>
                </div>
                <h2> @Html.Raw(centerText) </h2>
                <div class="inner">
                    <h3>
                        <span>
                            @Html.Raw(belowText)
                        </span>
                    </h3>
                    <div class="button">
                        <a href="#" class="contact-link"> @buttonName</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
