@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    string title = @Model.MacroParameters["Title"] != null ? @Model.MacroParameters["Title"].ToString() : "";
    var img = Model.MacroParameters["Image"] != null ? Model.MacroParameters["Image"].ToString() : "";
    var image = Umbraco.TypedMedia(img);
    string name = @Model.MacroParameters["RoleandName"] != null ? @Model.MacroParameters["RoleandName"].ToString() : "";
    string description = @Model.MacroParameters["Description"] != null ? @Model.MacroParameters["Description"].ToString() : "";

}

<div class="text-title">
    <h2> @title </h2>
</div>
<div class="container">
    <div class="spot-container">
        <div class="card-container">
            <div class="headers">
                <div class="overlay">
                    <h3 class="line">Consultant Spotlight </h3>
                    <h4>Addie Ervin</h4>
                    </div>
                    </div>

                <div class="description">
                    <div class="content">
                        <h3>@Html.Raw(HttpUtility.HtmlDecode(name))</h3>

                        <span class="text">
                            @description
                        </span>

                    </div>
                    <button class="button-orange" value="Input Button">Learn More</button>
                </div>
            </div>
    </div>
</div>
